{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyODv9cVPdS+EpbQoqg/5TVK"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"cBDIFxOc8RQf"},"outputs":[],"source":["streamlit\n","scikit-learn\n","joblib\n","numpy\n"]}]}